<% provide(:title, "カート") %>
  <main>
    <div class="container">
      <div class="row">
        <div class="col-12 card border-dark mt-5">
          <div class="cord-body ml-3 mb-2">
            <h4 class="mt-4">お届け先</h4>
            <p class="mb-2" style="padding-left: 20px;">〒○○○−○○○○　富山県南砺市○○　○-○-○</p>
            <p style="padding-left: 160px;">○○　××様</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <table class="table mt-5 ml-3 border-dark">
          <thead>
            <tr class="text-center">
              <th class="border-bottom border-dark" style="width:13%;">
                No
              </th>
              <th class="border-bottom border-dark" style="width:18%;">
                商品名
              </th>
              <th class="border-bottom border-dark" style="width:15%;">
                商品カテゴリ
              </th>
              <th class="border-bottom border-dark" style="width:15%;">
                値段
              </th>
              <th class="border-bottom border-dark" style="width:15%;">
                個数
              </th>
              <th class="border-bottom border-dark" style="width:15%;">
                小計
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-center">
              <th class="align-middle">
                1
              </th>
              <td class="align-middle">
                商品1
              </td>
              <td class="align-middle">
                食料品
              </td>
              <td class="align-middle">
                1000円
              </td>
              <td class="align-middle"><button type="button" class="btn btn-outline-dark">
                  5</button>&nbsp;&nbsp;個
              </td>
              <td class="align-middle">
                5000円
              </td>
              <td class="border-0 align-middle">
                <a class="btn btn-danger" href="#" role="button">削除</a>
              </td>
            </tr>
            <tr class="text-center">
              <th class="border-top-0 border-bottom border-dark align-middle">
                2
              </th>
              <td class="border-top-0 border-bottom border-dark align-middle">
                商品2
              </td>
              <td class="border-top-0 border-bottom border-dark align-middle">
                食料品
              </td>
              <td class="border-top-0 border-bottom border-dark align-middle">
                2000円
              </td>
              <td class="border-top-0 border-bottom border-dark align-middle">
                <button type="button" class="btn btn-outline-dark">2</button>&nbsp;&nbsp;個
              </td>
              <td class="border-top-0 border-bottom border-dark align-middle">
                4000円
              </td>
              <td class="border-0">
                <a class="btn btn-danger" href="#" role="button">削除</a>
              </td>
            </tr>
            <tr class="text-center">
              <th class="border-bottom-0 align-middle">
              </th>
              <td class="border-bottom-0 align-middle">
              </td>
              <td class="border-bottom-0 align-middle">
              </td>
              <td class="border-bottom-0 align-middle">
              </td>
              <td class="border-bottom-0 align-middle">
                合計
              </td>
              <td class="border-bottom-0 align-middle">
                9000円
              </td>
            </tr>
            <tr class="text-right">
              <th class="border-0">
              </th>
              <td class="border-0">
                <a class="btn btn-success " href="#" role="button">買い物を続ける</a>
              </td>
              <td class="border-0">
              </td>
              <td class="border-0">
              </td>
              <td class="border-0">
                <a class="btn btn-primary" href="#" role="button">注文を確定する</a>
              </td>
              <td class="border-0 align-middle">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>