    <main>
    <div class="container">
      <% if @product.present? %>
        <div class="mt-5 jumbotron bg-white">
          <h1 class="text-center">商品情報</h1>
          <h2 class="text-center"><%= @product.product_name %></h2>
          <div class="offset-sm-3">
            <p class="offset-sm-6">商品カテゴリ：<%= @product.category.category_name %></p>
            <p>商品説明</p>
            <p><%= @product.description %></p>
            <p class="mt-4 mb-5">価格：<%= @product.price %>円</p>
          </div>
        <div class="row justify-content-center">
          <label for="order_quanity" class="mt-1 col-sm-1">購入個数</label>
          <div class="col-sm-1">
            <input required type="text" class="form-control" id="order_quanity" pattern="[1-9][0-9]*" min="1">
          </div>
          <label class="mt-1 col-sm-1">個</label>
          <div class="col-sm-2">
            <button type="button" class="btn btn-primary btn-block">カートへ</button>
          </div>
        </div>
      <% else %>
        <div class="mt-5 text-center">
          <h1>該当商品が見つかりませんでした…</h1>
          <p class="mt-5">商品検索画面に戻り、やり直してください</p>
          <button type="button" class="btn btn-primary">商品検索画面へ</button>
        </div>
      <% end %>
        </div>
    </div>
    </main>